@model HospitalProject_HTTP5212.Models.Doctor
@{
    ViewBag.Title = "DeleteConfirm";
}

<div>
    <nav>
        <a href="/Doctor/ListDoctors">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete?</h2>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/Doctor/Delete/@Model.DoctorID">
        <button>
            Confirm
        </button>
    </form>
</div>

