@model IEnumerable<HospitalProject_HTTP5212.Models.Doctor>
@{
    ViewBag.Title = "New";
}

<h2>Create Patient</h2>
<form action="/Patient/Create" method="POST">
    <div>
        <label for="PatientName">Patient Name:</label> <input type="text" name="PatientName" />
    </div>
    <div>
        <label for="Problem">Problem:</label> <input type="text" name="Problem" />
    </div>
    <div>
        <label>Doctors:</label>
        <select name="DoctorId">
            @foreach (var doctors in Model)
            {
                <option value="@doctors.DoctorID">@doctors.DoctorName</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Patient" />

    </div>
</form>

